<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
      <section name="ConferencePlanner.WinUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Server=ts-internship-2019.database.windows.net;Database=summer-well;User Id=usr2020;Password=n39fn0n2_j32-(#;MultipleActiveResultSets=true" />
  </connectionStrings>
  <userSettings>
    <ConferencePlanner.WinUi.Properties.Settings>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
    </ConferencePlanner.WinUi.Properties.Settings>
  </userSettings>
</configuration>